#menu {
	display: none;
}

.header_logo {
  padding-left: 30px;
}

.header_list {
	padding-right: 30px
}

.menuIcon {
	display: flex;
	font-size: 28px;
	color: #6abfc3;
}

.menuIcon i {
	color: #6abfc3;
}

#sectionOne {
	display: grid;
	grid-template-rows: 1fr 1fr;
}

.bottomSectionTwo .articleWrapper {
	display: grid;
	grid-template-rows: 1fr 1fr 1fr;
	grid-template-columns: 1fr;
}

.sectionTwoImg img {
	height: 131px;
	padding: 0;
}

.topSectionTwo {
	padding: 0;
	margin: 0;
}

#sectionTwo h3 h4 p {
	margin: 10px 0;
	margin-bottom: 0;
}
