$layout-breakpoint-small: 720px;

@media (min-width: $layout-breakpoint-small) {
	#menu {
		display: none;
	}

	.menuIcon {
		display: flex;
		justify-content: flex-end;
		background-color: yellow;
	}
}
