/* HEADER */

.header_logo {
  padding-left: 120px;
}

.header_list {
  padding-right: 120px;
}

.header_list a {
  color: rgba(74,74,74,0.7);
  text-decoration: none;
  letter-spacing: 0.2px;
  font-size: 1em;
  font-weight: bold;
}

/* Section One */

#sectionOne {
  font-family: 'Open Sans', sans-serif;
}

.topSectionOne {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.topSectionOne h1 {
  color: #ce973e;
  font-size: 30px;
  font-weight: 300;
  letter-spacing: 0.4px;
  text-align: center;
  margin: 0;
}

.topSectionOne p {
  color: rgba(74,74,74,0.7);
  font-size: 1.125rem;
  letter-spacing: 0.2px;
  margin: 20px 0;
}

.topSectionOne a {
  background-color: #6abfc3;
  border-radius: 0.2em;
  box-shadow: 0 0.05em 0.25em 0 rgba(0,0,0,0.5);
  color: #fff;
  display: inline-block;
  font-size: 1em;
  font-weight: bold;
  letter-spacing: 0.2px;
  text-align: center;
  text-decoration: none;
  margin: 40px 0;
  padding: 1rem 3.5rem;
}

.bottomSectionOne img {

}
