/* HEADER */

.header_logo {
  padding-left: 120px;
}

.header_list {
  padding-right: 120px;
}

.header_list a {
  color: rgba(74,74,74,0.7);
  text-decoration: none;
  letter-spacing: 0.2px;
  font-size: 1em;
  font-weight: bold;
}
