/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:after,
blockquote:before,
q:after,
q:before {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
	box-sizing: border-box;
	display: grid;
	grid-template-rows: auto;
	grid-template-columns: 1fr;
}
$black_border: solid black 1px;

.black {
	color: black;
}

.gray {
	color: #4a4a4a;
}

.dark-gray {
	color: #f1f1f1;
}

.light-gray {
	color: #f3f3f3;
}

.white {
	color: white;
}

.light-blue {
	color: #6abfc3;
}

.blue {
	color: #007bff;
}

.yellow {
	color: #ffe484;
}

.orange {
	color: #cc9543;
}

.red {
	color: red;
}

.purple {
	color: #cbbde2;
}

.border-yellow {
	border: 1px solid #ffe484;
}

.text-center {
	text-align: center;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

.row {
	display: flex;
	flex-wrap: wrap;
}

.d-flex {
	display: flex;
}

.flex-d-column {
	flex-direction: column;
}

.justify-content-center {
	justify-content: center;
}

.align-items-center {
	align-items: center;
}

.text-style-lexend {
	font-family: 'Lexend Deca', sans-serif;
}

.text-style-opensans {
	font-family: "Open Sans", sans-serif;
}

.h-50 {
	height: 50px;
}

.h-100 {
	height: 100px;
}

.h-130 {
	height: 130px;
}

.h-150 {
	height: 150px;
}

.h-250 {
	height: 250px;
}

.h-max {
	height: max-content;
}

.w-50 {
	width: 50%;
}

.w-85 {
	width: 100%;
}

.w-100 {
	width: 100%;
}

.padding-0 {
	padding: 0;
}

.padding-10 {
	padding: 10px;
}

.padding-right-10 {
	padding-right: 10px;
}

.padding-right-30 {
	padding-right: 30px;
}

.padding-right-120 {
	padding-right: 120px;
}

.padding-left-10 {
	padding-left: 10px;
}

.padding-left-30 {
	padding-left: 30px;
}

.padding-left-120 {
	padding-left: 120px;
}

.padding-bottom-10 {
	padding-bottom: 10px;
}

.margin-0 {
	margin: 0;
}

.margin-10 {
	margin: 10px;
}

.margin-30 {
	margin: 30px;
}

.margin-right-10 {
	margin-right: 10px;
}

.margin-left-10 {
	margin-left: 10px;
}

.marging-top-20 {
	margin-top: 20px;
}

.marging-top-30 {
	margin-top: 30px;
}

.margin-bottom-10 {
	margin-bottom: 10px;
}

.margin-bottom-20 {
	margin-bottom: 20px;
}

.margin-bottom-60 {
	margin-bottom: 60px;
}

body {
	display: grid;
	grid-template-rows: auto;
	grid-template-columns: 1fr;
	width: 100%;
}

a {
	text-decoration: none;
	color: black;
}

header {
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: 1fr;
	height: 100px;

	nav {
		height: 100%;
		width: 100%;
		display: grid;
		grid-template-rows: 1fr;
		grid-template-columns: 1fr 1fr;
	}
}
/* Header */

.header_grid {
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: 1fr 1fr;

	.header_logo {
		display: flex;
		align-items: center;

		.logo_img {
			height: 95px;
			transition: all 0.05s ease-in-out;
		}
	}
}

.header_list {
	display: flex;
	align-items: center;
	justify-content: flex-end;

	ul {
		width: 100%;
		list-style: none;
	}

	li {
		margin: 10px;
	}
}

.menuList {
	display: flex;
	justify-content: flex-end;
}

.menuIcon {
	display: none;
}

main {
	margin-top: 10px;
	margin-bottom: 10px;

	section {
		margin: 10px 0;
	}
}
/* Section One */

.mainSectionOne {
	display: grid;
	grid-template-rows: 1fr 2fr;
	grid-template-columns: 1fr;

	h1 {
		display: flex;
		align-self: center;
		justify-content: center;
	}
}
/* Section Two */

.mainSectionTwo {
	display: grid;
	grid-template-rows: 1fr 2fr;
	grid-template-columns: 1fr;
}

.sectionTwoUp {
	display: grid;
	grid-column: 1 / 4;
}

.sectionTwoUp h2 {
	display: flex;
	align-self: center;
	justify-content: center;
}

.sectionTwoArticle {
	display: flex;
	align-items: center;
	justify-content: center;
}

.sectionTwoDown {
	display: flex;
	justify-content: center;
}

.bottomSectionTwo .articleWrapper {
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: 1fr 1fr 1fr;
	width: 80%;
}
/* Section Three */

.mainSectionThree {
	display: grid;
	grid-template-rows: 3fr 7fr 1fr;

	.topSectionThree {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.centerSectionThree {
		display: flex;
		justify-content: center;
	}

	.sectionThreeBottom {
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

.mainSectionThree .articleWrapper {
	display: grid;
	grid-template-rows: 1fr 1fr 1fr;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.sectionThreeBox {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 240px;
}

.mainSectionThree .centerBox {
	display: grid;
	grid-column: 2 / 3;
}
/* Section Four */

.mainSectionFour {
	display: grid;
	grid-template-rows: 1fr 5fr 2fr;
	grid-template-columns: 1fr;

	.centerSectionFour {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.sectionFourBox {
		height: 165px;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.topSectionFour {
		display: grid;
		grid-column: 1 / 3;
	}

	.topSectionFour h2 {
		display: flex;
		align-self: center;
		justify-content: center;
	}

	.sectionFourBottom {
		display: grid;
		grid-column: 1 / 3;
	}

	.sectionFourBottom {
		a,
		p {
			display: flex;
			align-self: center;
			justify-content: center;
			flex-wrap: wrap;
			margin: 20px;
		}
	}
}

.mainSectionFour .articleWrapper {
	display: grid;
	grid-template-rows: 1fr 1fr;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
	width: 85%;
	grid-column: 1 / 3;
}
/* Footer */

footer {
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: 1fr 1fr 1fr;
}

.footerCenter,
.footerLeft,
.footerRight {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 200px;
}
