/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  box-sizing: border-box;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
}

body {
  font-family: "Lexend Deca", sans-serif;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  width: 100%;
}

a {
  text-decoration: none;
  color: black;
}

header {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  height: 100px;
}
header nav {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
}

.header_grid {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
}
.header_grid .header_logo {
  display: flex;
  align-items: center;
}
.header_grid .header_logo .logo_img {
  height: 95px;
  transition: all 0.05s ease-in-out;
}

.header_list {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.header_list ul {
  width: 100%;
  list-style: none;
}
.header_list li {
  margin: 10px;
}

#menu {
  display: flex;
  justify-content: flex-end;
}

.menuIcon {
  display: none;
}

main {
  border: solid black 1px;
  margin-top: 10px;
  margin-bottom: 10px;
}
main section {
  margin: 10px 0px;
}

#sectionOne {
  border: solid black 1px;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr;
}
#sectionOne h1 {
  display: flex;
  align-self: center;
  justify-content: center;
}

#sectionTwo {
  border: solid black 1px;
  display: grid;
  grid-template-rows: 1fr 2fr;
  grid-template-columns: 1fr;
}

.sectionTwoUp {
  display: grid;
  grid-column: 1/4;
}

.sectionTwoUp h2 {
  display: flex;
  align-self: center;
  justify-content: center;
}

.sectionTwoArticle {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sectionTwoDown {
  display: flex;
  justify-content: center;
}

#articleWrapperSectionTwo {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  width: 80%;
}

#sectionThree {
  display: grid;
  grid-template-rows: 3fr 9fr 1fr;
}
#sectionThree .sectionThreeTitle {
  display: flex;
  justify-content: center;
  align-items: center;
}
#sectionThree #sectionThreeBoxes {
  display: flex;
  justify-content: center;
}
#sectionThree .sectionThreeBottom {
  display: flex;
  justify-content: center;
  align-items: center;
}

#articleWrapperSectionThree {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.sectionThreeBox {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 240px;
}

#sectionThreeLastBox {
  display: grid;
  grid-column: 2/3;
}

#sectionFour {
  border: solid black 1px;
  display: grid;
  grid-template-rows: 1fr 2fr 2fr;
  grid-template-columns: 1fr;
}
#sectionFour #sectionFourBoxes {
  display: flex;
  justify-content: center;
  align-items: center;
}
#sectionFour .sectionFourBoxWrapper {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 20px;
  width: 90%;
  grid-column: 1/3;
}
#sectionFour .sectionFourBox {
  border: solid black 1px;
  height: 165px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#sectionFour .sectionFourTitle {
  display: grid;
  grid-column: 1/3;
  border: solid black 1px;
}
#sectionFour .sectionFourTitle h2 {
  display: flex;
  align-self: center;
  justify-content: center;
}
#sectionFour .sectionFourBottom {
  display: grid;
  grid-column: 1/3;
  border: solid black 1px;
}
#sectionFour .sectionFourBottom a, #sectionFour .sectionFourBottom p {
  display: flex;
  align-self: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 20px;
  border: solid black 1px;
}

footer {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  height: 280px;
  border: solid black 1px;
}
footer #footerLeft, footer #footerRight, footer #footerCenter {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  border: solid black 1px;
}

/*# sourceMappingURL=framework_layout.css.map */
